html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

div * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#turn {
  max-width: 451px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  position: relative;
  float: right;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-style: inset;
  text-align: center;
  padding: 5px 0 0 0;
  background: #fff;
  transition: .85s linear;
}

.turnhighlight {
  background: #5cb85c !important;
  color: #fff;
}

#game {
  max-width: 504px;
  max-height: 504px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 20px auto;
}

.cellprefix {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  float: left;
  margin: 3px;
  padding: 15px 0 0 20px;
}

.gamecell {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  float: left;
  margin: 3px;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  font-size: 30pt;
  padding: 0 0 0 6px;
  cursor: pointer;
  z-index: 1;
}

.gamecell:hover {
  color: #fff;
  background: rgba(37, 88, 228, 0.712);
  z-index: 2;
  transform: translate(3px, -3px);
  animation: neonBlueText 0.1s ease-in-out infinite alternate;
}

.grey {
  background: rgba(73, 69, 69, 0.801);
}

.green {
  background: rgb(65, 161, 73) !important;
}

.moving-piece {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: none !important; /* Prevent CSS transitions from fighting jQuery animation */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
