html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

div * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#turn {
  max-width: 451px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  position: relative;
  float: right;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-style: inset;
  text-align: center;
  padding: 5px 0 0 0;
  background: #fff;
  transition: .85s linear;
}

.turnhighlight {
  background: #5cb85c !important;
  color: #fff;
}

#game {
  max-width: 504px;
  max-height: 504px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 20px auto;
}

.cellprefix {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  float: left;
  margin: 3px;
  padding: 15px 0 0 20px;
}

.gamecell {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  float: left;
  margin: 3px;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  font-size: 30pt;
  padding: 0 0 0 6px;
  cursor: pointer;
  z-index: 1;
}

.gamecell:hover {
  color: #fff;
  background: rgba(37, 88, 228, 0.712);
  z-index: 2;
  transform: translate(3px, -3px);
  animation: neonBlueText 0.1s ease-in-out infinite alternate;
}

.grey {
  background: rgba(73, 69, 69, 0.801);
}

.green {
  background: rgb(65, 161, 73) !important;
}

.moving-piece {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: none !important; /* Prevent CSS transitions from fighting jQuery animation */
}


